<h1>Editing Connection</h1>

<p>
  <strong>Params</strong>
  <%= params[:format].to_hash %>
</p>
<%= render 'form', connection: @connection %>
<%= link_to "Connect to Yahoo!", credentials_oauth_authorize_path(@connection), class: 'btn btn-primary' %>

<%= link_to 'Show', @connection %> |
<%= link_to 'Back', connections_path %>
