<p id="notice"><%= notice %></p>

<p>
  <strong>Access token:</strong>
  <%= @connection.access_token %>
</p>

<p>
  <strong>Refresh token:</strong>
  <%= @connection.refresh_token %>
</p>

<p>
  <strong>Data</strong>
  <%= @data %>
</p>

<%= link_to 'Edit', edit_connection_path(@connection) %> |
<%= link_to 'Back', connections_path %>
